# Ignore common folders and files that are not needed in the Docker image
.git
.vcpkg
vcpkg_installed
vcpkg_downloads
build
*.log
*.cache
*.tmp
*.DS_Store

.env

# Dockerfileや必要なファイルは含める
!Dockerfile